#include "include\version.h"
#include <winres.h>

1 VERSIONINFO
 FILEVERSION AMMO_REMOVER_VERSION_MAJOR, AMMO_REMOVER_VERSION_MINOR, AMMO_REMOVER_VERSION_PATCH, AMMO_REMOVER_VERSION_BETA
 PRODUCTVERSION AMMO_REMOVER_VERSION_MAJOR, AMMO_REMOVER_VERSION_MINOR, AMMO_REMOVER_VERSION_PATCH, AMMO_REMOVER_VERSION_BETA
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "AmmoRemover"
            VALUE "FileVersion", AMMO_REMOVER_VERSION
            VALUE "InternalName", "AmmoRemover"
            VALUE "LegalCopyright", "MIT License"
            VALUE "ProductName", "AmmoRemover"
            VALUE "ProductVersion", AMMO_REMOVER_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
